*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    margin: 0;
}

header {
    display: flex;
    min-height: 150px;
    background-color: black;
    align-items: center;
    padding: 20px;
}

h2 {
    margin-block-start: 1px;
    text-align: left;
    align-items: flex-start;
}

.logo {    
    display: flex;
    align-items: right;
    color: whitesmoke;
}

.logo img {
    height: 80px;
    padding: 10px;
}

nav ul li {
    display: inline-block;
    color: whitesmoke;
    line-height: 80px;
    margin: 0 5px;
}

nav ul{
    float: right;
    margin-right: 20px;
}


nav ul li a {
    text-transform: uppercase;
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
}

li a:hover {
    background-color: blueviolet;
    transition: .5s;
}

.carrousel {
    width: 100%;
    max-width: 120cm;
    background-color: lightblue;
    margin: 40px;
}

.carrousel .grande {
    width: 100%;
    background-color: orange;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    transition: all .5s ease;
    transform: translate(0-50%);
}

.carrousel .img {
    width: calc(100 / 3);
    min-height: 10vh;
    background: lime;
}
.carrousel .puntos {
    width: 100%;
    background-color: red;
    padding: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.carrousel .punto {
    width: 2em;
    height: 2em;
    background-color: blue;
}


.checkbtn {
    font-size: 30px;
    color: rgb(253, 250, 53);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.flex-contenedor {
    border: solid 1px grey;
    background-color: purple;
    margin: .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    height: auto;
    padding: 20px;
}

.titulo {
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 30px;
    font-size: 30px;
}

.item {
    margin: 15px;
}

.item a {
    text-decoration: none;
    color: black;
}

.item a:hover {
    color: white;
}

.item  img {
    width: 260px;
    height: 260px;
    border-radius: 30px;
}

.item p {
    text-align: center;
    font-size: 20px;
}

.flex-container {
    border: solid 1px black;
    background-color: gray;
    margin: .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    height: auto;
    
}

.titulo-secundario {
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 20px;
    font-size: 30px;
}

.caja {
    margin: 15px;
}

.caja a {
    text-decoration: none;
    color: black;

}

.caja a:hover {
    color: white;
}

.caja  img {
    width: 260px;
    height: 260px;
    border-radius: 30px;
}

.caja p {
    text-align: center;
    font-size: 20px;
}


footer {
    width: 100%;
    background: black;
    color: whitesmoke;
    padding: 20px;
}

.contenedor-todo {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background: black;
}

.contenedor {
    display: flex;
    justify-content: space-between;
}

.columna1 {
    max-width: 400px;
}

.columna1 h2 {
    font-size: 22px;
}

.columna1 .fila {
    margin-top: 20px;
    display: flex;
}

.fila img {
   width: 26px;
   height: 26px; 
}

.fila label {
    margin-top: 5px;
    margin-left: 20px;
    color: gray;
}

.columna2 {
    max-width: 400px;
    
 }

.columna2 h1 {
    font-size: 20px;
    color: gray;

}
.mensaje{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration-color: blueviolet;
    color: rgb(248, 129, 252);
    font-size: 22px;
    
}


.columna3 {
    max-width: 400px;
    align-items: inherit;
}

.columna3 h2 {
    font-size: 22px;
}

.columna3 .fila3 {
    margin-top: 20px;
    display: flex;
}

.fila3 img {
    width: 26px;
    height: 26px;
}

.fila3 label {
    margin-top: 5px;
    margin-left: 20px;
    max-width: 160px;
    color: gray;
}

.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;

}

.map-responsive iframe{
   left:0;
   top:0;
   height:100%;
   width:100%;
   position:absolute;

}

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
    }
    #contenedor {
        position: relative;
        flex-direction: column;
        align-items: center;
        padding-inline: .5px;
    }
    
    .item {
        display: flex;
        padding-top: .5px;
        padding-bottom: .05px;
        flex-direction: column;

    }

    .contenedor {
        flex-direction: column;
        
    }

    .checkbtn{
        display: block;
        cursor: pointer;
    }

    nav ul {
        width: 100%;
        position: fixed;
        height: 100vh;
        font-size: 10px;
        padding: 20px;
        background-color: rgba(105, 6, 204, 0.836);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
       
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    li a:hover, li a.active{
        background: none;
        color: rgb(218, 183, 252);
    }
 
    .checkbtn{
        display: block;
    }

    nav ul {
        width: 100%;
        position: fixed;
        height: 100vh;
        font-size: 10px;
        padding: 20px;
        background-color: black;
        color: antiquewhite;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1;
    }
       
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    li a:hover, li a.active{
        background: none;
        color: rgb(218, 183, 252);
    }
    #check:checked ~ ul{
        left: 0;

        
    }
    
}