*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    margin: 0;
}

header {
    display: flex;
    min-height: 150px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.container-faq img {
    display: block;
    column-width: 60%;
    align-content: center;
    margin: auto;
}

h2 {
    display: flex;
    margin-left: auto;
}

.logo {    
    display: flex;
    align-items: center;
    color: whitesmoke;
}

.logo img {
    height: 90px;
    margin-right: 10px;
}

nav li {
    display: inline;
    margin: 0 0 0 20px;
    color: whitesmoke;
}

nav a {
    text-transform: uppercase;
    color: whitesmoke;
    text-decoration: none;
}

nav a:hover {
    color: gray;
}

.container {
    width: 90%;
    margin: 100px auto;
}

.container-faq {
    box-sizing: 0 0 15px -1px rgba(0,0,0,.1);
    padding: 30px;
}

.container-faq .title-faq {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

.container-faq .item-faq {
    box-shadow: 0 0 15px -1px rgba(0,0,0,.2);
    margin-bottom: 20px;
    border-radius: 10px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .panel {
    padding: 0 18px;
    background-color: rgb(253, 251, 137);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .accordion:after {
    content: '\02795'; 
    font-size: 13px;
    color: rgb(252, 52, 175);
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\25b2"; 
  }




footer {
    width: 100%;
    background: black;
    color: whitesmoke;
    padding: 20px;
}

.contenedor-todo {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background: black;
}

.contenedor {
    display: flex;
    justify-content: space-between;
}

.columna1 {
    max-width: 400px;
}

.columna1 h2 {
    font-size: 22px;
}

.columna1 .fila {
    margin-top: 20px;
    display: flex;
}

.fila img {
   width: 26px;
   height: 26px; 
}

.fila label {
    margin-top: 5px;
    margin-left: 20px;
    color: gray;
}

.columna2 {
    max-width: 400px;
}

.columna2 h1 {
    font-size: 20px;
    color: gray;
}

.columna3 {
    max-width: 400px;
}

.columna3 h2 {
    font-size: 22px;
}

.columna3 .fila3 {
    margin-top: 20px;
    display: flex;
}

.fila3 img {
    width: 26px;
    height: 26px;
}

.fila3 label {
    margin-top: 5px;
    margin-left: 20px;
    max-width: 160px;
    color: gray;
}

.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;

}

.map-responsive iframe{
   left:0;
   top:0;
   height:100%;
   width:100%;
   position:absolute;

}


@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
    }
    #contenedor-todo {
        flex-direction: column;
        align-items: center;
        align-content: center;

    }
    
    nav ul li a {
        font-size: 10px;
        align-items: center;
        color:yellow;
    }
    .item {
        height: 12rem;
        width: 10rem;
    }

    .contenedor {
        flex-direction: column;
    }
}